.App {
    text-align: center;
  }
  
  .all-products-page {
    padding: 20px;
  }
  
  .filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }